/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --size: 100px;
    --border-radius: 100%;
    --hover-size-multiplier: 1.5;
    --text-offset: 20px;
    --text-vertical-offset-multiplier: 0;
    --font-size: 50px;
    --font-hover-multiplier: 1.5;

    --music-button-size: 40px;
}

body {
    margin: 0;
    color: white;
    font-family: "Poppins", "Times New Roman", sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    /* background-color: lightslategray; */

    background-image: linear-gradient(90deg, #FC5C7D, #6A82FB);
    /* background-image: linear-gradient(90deg, #FC466B, #3F5EFB); */
}

h1 {
    font-size: 5vw;
}

.title {
    opacity: 0;
    transition: opacity 0.5s;
}

.title.active {
    opacity: 1;
    /* ! instant zero opacity */
    /* transition: opacity 0.5s; */
}

.btn {
    width: var(--size);
    height: var(--size);
    position: absolute;

    /* ! instead of ".btn.side .text" */

    /* display: flex;
    align-items: center;
    justify-content: center; */

    transition: width 0.5s,
                height 0.5s,
                box-shadow 0.5s;
}

.btn:hover {
    width: calc(var(--size) * var(--hover-size-multiplier));
    height: calc(var(--size) * var(--hover-size-multiplier));
    box-shadow: 0 0 0 20px lightsteelblue;
}

.btn .text {
    font-size: var(--font-size);
    transition: font-size 0.5s;
}

.btn:hover .text {
    font-size: calc(var(--font-size) * var(--font-hover-multiplier));
}

/* ! */

.btn.topLeft .text {
    position: absolute;
    /* top: calc(var(--text-offset) * var(--text-vertical-offset-multiplier)); */
    top: 0;
    left: var(--text-offset);
}

.btn.topRight .text {
    position: absolute;
    /* top: calc(var(--text-offset) * var(--text-vertical-offset-multiplier)); */
    top: 0;
    right: var(--text-offset);
}

.btn.bottomLeft .text {
    position: absolute;
    /* bottom: calc(var(--text-offset) * var(--text-vertical-offset-multiplier)); */
    bottom: 0;
    left: var(--text-offset);
}

.btn.bottomRight .text {
    position: absolute;
    /* bottom: calc(var(--text-offset) * var(--text-vertical-offset-multiplier)); */
    bottom: 0;
    right: var(--text-offset);
}

/* ! */

.btn.topLeft {
    top: 0;
    left: 0;

    background: radial-gradient(circle at top left, purple, blueviolet);
    border-bottom-right-radius: var(--border-radius);
}

.btn.topRight {
    top: 0;
    /* left: calc(100vw - var(--size)); */
    right: 0;

    background: radial-gradient(circle at top right, darkgreen, green);
    border-bottom-left-radius: var(--border-radius);
}

.btn.bottomLeft {
    /* top: calc(100vh - var(--size)); */
    bottom: 0;
    left: 0;

    background: radial-gradient(circle at bottom left, blue, lightseagreen);
    border-top-right-radius: var(--border-radius);
}

.btn.bottomRight {
    /* top: calc(100vh - var(--size));
    left: calc(100vw - var(--size)); */
    bottom: 0;
    right: 0;

    background: radial-gradient(circle at bottom right, red, crimson);
    border-top-left-radius: var(--border-radius);
}

/* ! */

.music-container .buttons {
    position: absolute;
    left: 50vw;
    margin-top: 50px;
    transform: translateX(-50%);
}

.music-btn {
    width: var(--music-button-size);
    height: var(--music-button-size);
    font-size: 25px;

    text-align: center;
	cursor: pointer;
}

/* .music-container canvas {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    background: black;
    margin-top: 200px;
} */

