@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --logo-circle-size: 200px;
    --progress-height: 20px;
    --progress-padding: 5px;

    --button-transition-duration: 0.2s;
    --button-circle-size: 50px;
    --icon-size: 20px;
    --button-hover-multiplier: 1.2;
    --button-spacing: 10px;

    --box-shadow: 0 5px 5px rgba(0, 255, 0, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/cucumbers.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    user-select: none;
    font-family: "Poppins", Arial, sans-serif;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */

    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);

    border-radius: 50px;
    padding: 25px 50px;

    /* height: 500px; */
    /* height: 80%; */
    /* width: 50%; */
}

#title-container {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: var(--box-shadow);
}

/* #image-container {
    position: relative;
} */

#image-container img {
    object-fit: cover;
    border-radius: 50%;
    width: var(--logo-circle-size);
    height: var(--logo-circle-size);
}

/* ! BUTTONS */

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    border: none;
    background-color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);

    margin: 0 var(--button-spacing);
    border-radius: 50%;
    width: var(--button-circle-size);
    height: var(--button-circle-size);

    transition: width var(--button-transition-duration), 
                height var(--button-transition-duration);
}

.action-btn:hover {
    width: calc(var(--button-circle-size) * var(--button-hover-multiplier));
    height: calc(var(--button-circle-size) * var(--button-hover-multiplier));
}

.action-btn i {
    color: green;
    text-align: center;
    font-size: var(--icon-size);
    transition: font-size var(--button-transition-duration);
}

.action-btn:hover i {
    font-size: calc(var(--icon-size) * var(--button-hover-multiplier));
}

.action-btn:focus {
    outline: none;
}

/* ! PROGRESS */

#progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 20px 0;
}

#progress-bg {
    background: white;
    border-radius: calc(var(--progress-height) / 2);
    cursor: pointer;
    height: var(--progress-height);
    width: 100%;
    padding: var(--progress-padding);
}

#progress-value {
    background: green;
    border-radius: calc(var(--progress-height) / 2 - var(--progress-padding));
    height: 100%;
    width: 80%;
    transition: width 0.2s;
}

#progress-text {
    color: white;
    margin-top: 10px;
    text-shadow: var(--box-shadow);
}